.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 24rem;
    padding: 1rem;
}

.main {
    margin-left: 24rem;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    /* width: 100%-2rem; */
    width: 22rem;
    margin: 1rem;
}

.table > thead {
    display: none
}
